.gpt3__hero {
  padding: 5.5rem 0 0 8.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 701.59px;
}

.gpt3__hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;

  flex: 1;
  width: 100%;
  max-width: 779.29px;
  min-width: 430px;
  position: relative;
  z-index: 2;
}

.gpt3__hero-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: 0.04rem;
}

.gpt3__hero-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 27.32px;
  color: var(--color-text);
  max-width: 554px;
}

.gpt3__hero-content_email {
  display: flex;
  width: 100%;
}

.gpt3__hero-content_email input {
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 27.32px;
  color: #3D6184;
  background: #052D56;

  padding: 1.5rem;

  flex: 1;
  width: 100%;
  max-width: 456px;
}

.gpt3__hero-content_email button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 27.32px;
  color: #fff;
  background: #FF4820;

  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 2rem;

  border-radius: 0 5px 5px 0;
}

.gpt3__hero-content_people {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.gpt3__hero-content_people p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 37.61px;
  color: #fff;
}

.gpt3__hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  max-width: 667.41px;
  min-width: 600px;
  min-height: 701.59px;


  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

}

.gpt3__hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1300px) {
  .gpt3__hero {
    padding: 3.5rem 6.5rem 0 6.5rem;
    position: static;
    min-height: unset;
    gap: 2rem;
  }

  .gpt3__hero-content {
    position: static;
  }

  .gpt3__hero-image {
    position: static;
  }
}

@media screen and (max-width: 1050px) {
  .gpt3__hero {
    padding: 0rem 3.5rem 0 3.5rem;
  }

  .gpt3__hero-content {
    position: static;
    max-width: unset;
  }

  .gpt3__hero-content h1 {
    font-size: 50px;
    line-height: 65px;
    min-width: 550px;
  }

  .gpt3__hero-content p {
    font-size: 16px;
  }

  .gpt3__hero-content_email input {
    font-size: 16px;
  }

  .gpt3__hero-content_email button {
    font-size: 16px;
  }

  .gpt3__hero-content_people p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 9px;
    line-height: 37.61px;
    color: #fff;
  }

  .gpt3__hero-image {
    position: static;
  }
}

@media screen and (max-width: 656px) {
  .gpt3__hero {
    padding: 5rem 2.5rem 0 2.5rem;

    flex-direction: column;
    gap: 0;
  }

  .gpt3__hero-content {
    position: static;
    max-width: unset;
    min-width: unset;
  }

  .gpt3__hero-content h1 {
    font-size: 40px;
    line-height: 55px;
    min-width: unset;
  }

  .gpt3__hero-content p {
    font-size: 14px;
  }

  .gpt3__hero-content_email {
    flex-direction: column;
    gap: 0.5rem;
  }

  .gpt3__hero-content_email input {
    padding: 1rem;
    font-size: 14px;
    border-radius: 5px;
  }

  .gpt3__hero-content_email button {
    padding: 0.75rem;
    font-size: 14px;
    max-width: 174px;
    border-radius: 5px;
  }

  .gpt3__hero-content_people {
    flex-direction: column;
    align-items: flex-start;
  }

  .gpt3__hero-content_people p {
    font-size: 10px;
  }


  .gpt3__hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gpt3__hero-image {
    position: static;
    max-width: 500px;
    min-width: unset;
    min-height: unset;
  }
}